<p id="notice"><%= notice %></p>

<h1>Welcome!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Favorite food</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |users| %>
      <tr>
        <td><%= users.name %></td>
        <td><%= users.username %></td>
        <td><%= users.email %></td>
        <td><%= users.password %></td>
        <td><%= link_to 'Show', User %></td>
        <td><%= link_to 'Edit', edit_user_path(users) %></td>
        <td><%= link_to 'Destroy', users, method: :delete, data: { confirm: 'Are you not cheesy enough?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_user_path %>


