<!DOCTYPE html>
<html>
<head>
  <title>SadPizza</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <p>
  <% if current_user %>
    <%= link_to "GET SAUCY #{current_user.name}", user_path(current_user) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'SAY CHEESE' "/" %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'BYE', session_path('bye'), method: :delete %>
  <% else %>
    <%= link_to 'lOGIN TO DIP', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'SIGN UP TO BE PIZZA', new_user_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
