<!DOCTYPE html>
<html>
<head>
  <title>SadPizza</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header text-center">
        <% if current_user %>
          <%= link_to "EVERYONE'S SAUCE", "/" %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to "#{current_user.name}'S PIZZERIA", user_path(current_user) %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'SAY CHEESE', new_post_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'BYE', session_path('bye'), method: :delete %>
        <% else %>
          <%= link_to 'LOGIN TO DIP', login_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'SIGN UP TO BE PIZZA', new_user_path %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
